/*
These are custom styles to improve or replace the regular theme styles in 
the style.css file.
*/
body {
	background: background: #e2e2e2;
	background-image: none;
}

a.main-logo{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 78px;
	font-weight: 300;
}

.works-title h3 {
	float: left;
	letter-spacing: -0.02em;
}

.works-title h1 {
	float:left;
	color: #666;
	font-size: 24px;
	margin: 8px 0 0 7px;
	letter-spacing: -0.02em;
}

footer {
	margin-top: 0;
}

/* Live wordpress instance login: admin, 2HEJk3ub1 */